body {
  font-family: "open sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f8ff;
}

header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-container {
  width: 90%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-img img {
  width: auto;
  height: 80px;
}

.nav-bar li {
  display: inline-block;
}

.nav-bar li a {
  color: rgb(15 19 45);
  display: inline-block;
  text-decoration: none;
}

.nav-bar ul {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.nav-bar .pricing a {
  border-bottom: 2px solid #4067f5;
  padding-bottom: 2.5px;
  color: #4067f5;
}

.login-free-trials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.login {
  background-color: #f0f8ff;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid rgb(166, 166, 166);
  padding: 15px 30px;
  border-radius: 10px;
}

.login:hover {
  cursor: pointer;
  transform: translateY(-8px);
  opacity: 0.8;
}

.free-trial {
  color: white;
  background-color: #4067f5;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #4067f5;
  padding: 15px 18px;
  border-radius: 10px;
  transition: 0.15s transform ease;
}

.free-trial:hover {
  cursor: pointer;
  transform: translateY(-8px);
  opacity: 0.8;
}

.hero {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plans {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 40px;
}

.plans p {
  color: rgb(103 110 119);
  font-size: 18px;
}

.toggle-wrapper {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.toggle .point-bar {
  height: 40px;
  width: 75px;
  background-color: #f0f8ff;
  border: 1px solid rgb(166, 166, 166);
  border-radius: 20px;
}

.toggle .point {
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background-color: #4067f5;
  position: absolute;
  right: 12.5rem;
  transition: 0.15s transform ease;
}

.toggle .point:hover {
  cursor: pointer;
  transform: scale(0.85);
}

.toggle span:first-of-type {
  margin-right: 16px;
}

.toggle span:nth-of-type(2) {
  margin-left: 16px;
}

.toggle span:nth-of-type(3) {
  color: #4067f5;
  margin-left: 16px;
  border: 1px solid #4067f5;
  border-radius: 50px;
  padding: 5px 8px;
  text-transform: uppercase;
}

.traffic {
  margin: 50px 0 0 250px;
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(103 110 119);
  position: relative;
}

.traffic p {
  margin-bottom: 30px;
}

.visitor-bar {
  box-sizing: border-box;
  width: 70%;
  height: 8px;
  background-color: rgb(231, 230, 230);
  border: 1px solid none;
  border-radius: 20px;
}

.progress {
  box-sizing: border-box;
  width: 28%;
  height: 8px;
  background-color: #4067f5;
  border: 1px solid none;
  border-radius: 20px;
  position: absolute;
  top: 3.1rem;
}

.vistor-pointer {
  height: 32px;
  width: 32px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: -1.3rem;
  right: -18rem;
}

.visitor-pointer-point {
  height: 17px;
  width: 17px;
  margin: 0;
  padding: 0;
  border-radius: 50px;
  background-color: #4067f5;
  position: relative;
  top: -2.85rem;
  right: -18.5rem;
  transition: 0.15s transform ease;
}

.visitor-pointer-point:hover {
  cursor: pointer;
  transform: scale(0.85);
}

.scale {
  width: 70%;
}

.traffic .scale ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.pricing-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 70px 0 60px 0;
}

.pricing-card {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 15px;
  margin: 16px;
  padding: 16px 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.15s transform ease;
  box-shadow: 0px 3px 11px 1px rgba(0, 0, 0, 0.1);
}

.pricing-card:hover {
  cursor: pointer;
  transform: translateY(-8px);
}

.banner {
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  position: absolute;
  background-color: #4067f5;
  left: 0;
  top: -2.5rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.premium {
  background-color: #0b112b;
  color: white;
  border: none;
}

.premium .package {
  color: white;
}

.package {
  padding: 0;
  font-size: 25px;
  color: black;
}

.price {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: bold;
}

.duration {
  font-size: 15px;
  font-weight: bold;
  color: rgb(210, 210, 210);
  text-transform: uppercase;
}

.pricing-card hr {
  border: 1px solid #4067f5;
  width: 70%;
}

.card-footer button {
  background-color: #4067f5;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  margin: 30px 0;
  transition: 0.15s transform ease;
}

.card-footer button:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.card-footer {
  margin-top: auto;
}

.calculator-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 100%;
  height: 70vh;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: rgb(239, 234, 245);
  max-width: 1000px;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.calculator-content h2 {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.visitors-value {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  text-transform: uppercase;
  color: #828385;
}

.visitors-value input {
  border: 1px solid rgb(239, 234, 245);
  padding: 20px 25px;
  font-size: 18px;
  border-radius: 10px;
}

.calculator-cta {
  width: 100%;
  box-sizing: border-box;
  background-color: #d1ccc0;
  margin-top: auto;
  padding: 20px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.calculator-cta p {
  text-align: center;
}

.faq {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq-p {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq-p h3 {
  margin: 30px 20px;
  padding: 0;
  font-size: 25px;
}

.faq-p p {
  font-size: 20px;
}

.faq-card-container {
  margin-top: 40px;
  width: 50%;
  height: 40%;
}

.faq-card {
  background-color: rgb(239, 234, 245);
  margin-bottom: 30px;
  padding: 35px 40px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 3px 11px 1px rgba(12, 11, 11, 0.1);
}

.faq-card p {
  line-height: 1.9;
}

.icon {
  transition: transform 0.3s;
  font-size: 40px;
}

.details,
[open] .icon {
  transform: rotate(90deg);
}

.details {
  background-color: rgb(239, 234, 245);
  margin-bottom: 30px;
  padding: 25px 60px;
  border: none;
  border-radius: 20px;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}

.features-container {
  height: 105vh;
  width: 100%;
  background-color: white;
}

.features {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.features p {
  margin: 50px 0 0 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #828385;
}

.features h3 {
  font-size: 25px;
}

.features-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.features-list p:first-of-type {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.features-list p:last-of-type {
  max-width: 200px;
  color: rgb(209, 196, 196);
  line-height: 1.5;
}

.features-icon {
  background-color: #0b112b;
  font-size: 30px;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
}

.features-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  margin: 0 130px;
}

.demo-container {
  height: 80vh;
  width: auto;
  background-color: #0b112b;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  z-index: 99;
}

.circle {
  position: absolute;
  width: 450px;
  height: 450px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #515452;
  border-radius: 50%;
  z-index: 98;
}

.demo-free-trial p {
  font-size: 15px;
  text-transform: uppercase;
}

.demo-free-trial h4 {
  margin: 0;
  font-size: 35px;
  max-width: 450px;
}

.demo-button {
  z-index: 1000;
}

.demo-button button {
  margin-top: 50px;
  padding: 20px 35px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
}

.demo-started {
  background-color: #4067f5;
  border: 1px solid #4067f5;
  margin-right: 20px;
  transition: 0.15s transform ease;
  box-shadow: 0px 3px 11px 1px rgba(34, 33, 33, 0.1);
}

.demo-started:hover {
  cursor: pointer;
  transform: translateY(-8px);
  opacity: 0.8;
}

.demo-book {
  background-color: #151229;
  border: 1px solid white;
  transition: 0.15s transform ease;
  box-shadow: 0px 3px 11px 1px rgba(34, 33, 33, 0.1);
}

.demo-book:hover {
  cursor: pointer;
  transform: translateY(-8px);
  opacity: 0.8;
}

.footer-container {
  width: auto;
  height: 70vh;
  background-color: #0b0d22;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.footer-list {
  margin-top: 40px;
}

.footer-list span {
  color: white;
  font-size: 18px;
}

.footer-list p {
  color: #beccf7;
}

.follow span {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.fa-brands {
  margin-right: 10px;
  padding: 10px 10px;
  background-color: #d1ccc0;
  border: none;
  border-radius: 50px;
}

.footer-logo-container {
  margin-top: 40px;
}

.footer-logo-container p {
  color: #d1ccc0;
}

.footer-logo-container button {
  margin-top: 25px;
  padding: 20px 35px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: #151229;
  color: white;
  text-transform: uppercase;
}

.footer-logo-container button:hover {
  cursor: pointer;
  transform: translateY(-8px);
  opacity: 0.8;
}

.top {
  text-decoration: none;
  color: white;
}
